* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat' , 'Arial Narrow', Arial, sans-serif ;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    display: flex;
    background: #f7f7f7;
}

.header .logo > img{
    width:100px;
    height: auto;
}

.nav-links > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links > ul > li{
    padding: 0 15px;
}

.body {
    padding: 20px 32px;
}

.search input {
    max-width: 500px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}

.search {
    margin: 10px;
}

.resContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}
    

.resCard {
    border: 1px solid #0000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 #e1e1e1;
}

.resCard:hover {
    border: 1px solid #f0f0f05e;
    box-shadow: 0 0 15px #e1e1e1;
}

.resCard .desc {
    margin-left: 10px;
}

.resCard h1 {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.resCard p {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.resCard .image {
    width: 100%;
    height: 200px;
}

.resCard .image img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-position: 0 -40px;
}

.footer {
    padding: 20px 32px;
    background: #f0f0f0fe;
    text-align: center;
}

.filterBtn button {
    padding: 10px 20px;
    background: #126a37;
    color: #fff;
    border: navajowhite;
    border-radius: 50px;
    font-size: 12px;
    margin: 10px 10px 10px;
    cursor: pointer;
}

.shimmer .resCard {
    background: #e5e5e524;
}

.shimmer .resCard h1, .shimmer .resCard p {
    background: #efefef;
    height: 20px;
}

.shimmer .resCard .image div {
    background-color: #f0f0f05e;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.filterBtn input[type="text"] {
    height: 36px;
    width: 266px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    padding: 0 15px;
}